body{display:flex;min-height:100vh;flex-direction:column}main{flex:1 0 auto}#navcontainer li{display:inline;list-style-type:none;padding-right:20px;vertical-align:top}#header{height:80px;padding-top:5px;background-color:#333}#footer_copyright{background-color:#333}#form{width:40%;margin:0 auto}#form_infos label{color:black;font-size:20px}textarea{display:block;margin-left:auto;margin-right:auto}#logo:hover{background-color:grey;color:black}.anchor{display:block;height:80px;margin-top:-80px;visibility:hidden}
