body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#navcontainer li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    vertical-align: top;
}

#header {
    height: 80px;
    padding-top:5px;
    background-color: rgb(51, 51, 51);
}

#footer_copyright
{
    background-color: rgb(51, 51, 51);
}

#body
{
}

#form
{
    width: 40%;
    margin: 0 auto;
}

#form_infos label
{
    color: black;
    font-size:20px;
}

textarea
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo:hover {
    background-color: grey;
    color: black;
}

.anchor{
    display: block;
    height: 80px; /*same height as header*/
    margin-top: -80px; /*same height as header*/
    visibility: hidden;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

