<p>Show User :</p>
<ul>
<li>email : <%= current_user.email %></li>
</ul>

<ul><h2>Friend list: </h2>
  <% if @user_list  %>

  <% @user_list.each do |user| %>
  <li><%= user.email %></li>  </br>
  <% end %>
  <% end %>
  <h2>End of friend list</h2></ul>
