<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    


   
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    
  <title>RubyUser</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>



  
<body>
  <header>
    <div class="navbar-fixed">
      <nav>
	<div class="nav-wrapper" id ="header">

	  <div>
	    <div>
	      <ul id="main_nav" class="right hide-on-med-and-down">

		
		<li><%= link_to "Home", home_path %></li>
		<li><%= link_to "User List", list_user_path %><li>
		  <% if user_signed_in? %>

		<li><%= link_to "Profile", show_user_path %></li>
		<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>

		
		  <% else %>

		  <li><%= link_to "Connection", new_user_session_path %></li>
		  <li><%= link_to "Subscription", new_user_registration_path %></li>

		  <% end %>
		  
	      </ul>
	    </div>
	  </div>
      </nav>
      </div>
  </header>
  

<%= yield %>



<footer class="page-footer red darken-3">
  <div class="container">
    <div class="row">

      <div class="col l4 offset-l2 s12">
	<h5 class="white-text">Liens</h5>
	<ul>
	  <li><a class="grey-text text-lighten-3" href="#"> <img height="42" width="42" class="brand-logo" src="https://www.facebook.com/images/fb_icon_325x325.png" /></a></li>
	  <li><a class="grey-text text-lighten-3" href="#"><img height="42" width="42" class="brand-logo" src="http://www.freelargeimages.com/wp-content/uploads/2015/05/Twitter_Logo_Hd_Png_03.png" alt=""></a></li>
	</ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" id="footer_copyright">
    <div class="container">
      © 2016 Copyright RubyOnRails
    </div>
  </div>
</footer>
<!--
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../../front_end/static/js/materialize.min.js"></script>
{% include 'material/includes/material_css.html' %}
<script src= "material/js/jquery-2.2.0.js"></script>
{% include 'material/includes/material_js.html' %}
-->

</body>
</html>
